<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{ message }}</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/calendario">Calendario</a></li>
            <li><a href="/registrarJornadas">Registrar Jornadas</a></li>
        </ul>
    </nav>
    <p>Este es el calendario.</p>
    <script src="/static/script.js"></script>
</body>
</html>
